@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: dark;
    }

    body {
        @apply bg-neutral-900 text-white antialiased overflow-hidden;
    }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-700/50 rounded-full hover:bg-neutral-600/80 transition-colors;
}

.drag-region {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}